 <!-- wp:pattern {"slug":"yourplatform/topbar"} /-->
<!-- wp:template-part {"slug":"header"} /-->

<!-- Hero Slider -->
<!-- wp:pattern {"slug":"yourplatform/hero-slider"} /-->

<!-- Hero Slider -->
<!-- wp:pattern {"slug":"yourplatform/interested-topics"} /-->

<!-- Subscribe Form -->
<!-- wp:pattern {"slug":"yourplatform/subscribe-form"} /-->

<!-- Latest Posts & SideBar -->
<!-- wp:columns -->
<div class="container wp-block-columns section-padding">

  <!-- Latest Posts -->
  <div class="wp-block-column" style="flex-basis:66.66%">
    <!-- wp:pattern {"slug":"yourplatform/latest-articles"} /-->
  </div>

  <!-- SideBar -->
  <div class="wp-block-column sidebar_section" style="flex-basis:33.33%">
    <!-- wp:pattern {"slug":"yourplatform/sidebar"} /-->
  </div>

</div>
<!-- /wp:columns -->

<!-- Popular Destinations -->
<!-- wp:pattern {"slug":"yourplatform/popular-destinations"} /-->

<!-- Footer -->
<!-- wp:template-part {"slug":"footer"} /-->
